*, ::after, ::before {
    box-sizing: border-box;
}

.indexBack {
    position: relative;
    background: url("https://s.hdnux.com/photos/75/10/13/16024311/4/rawImage.jpg") #414143;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    background-blend-mode: multiply;
     
  /* perspective: 1px;
  height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;

  
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; */

    
}

.nearYouBack {
    background-image: url("../images/grass.png");
     background-size:cover;
     background-repeat: no-repeat;
     height: 200vh;
 }

 #location{
    border:1px;
    border-color:green;
    border-style: solid;
    background-color:darkolivegreen;
    color:white;
  }
  .row{

    background-color: #00b944b0;
    color:white;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.16), 0 2px 10px 0 rgba(0,0,0,.12);
  } 
  #go{
      height:40px;
      width:50px;
    
  }
.back {
    position: relative;
    background: url("https://s.hdnux.com/photos/75/10/13/16024311/4/rawImage.jpg") #414143;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    background-blend-mode: multiply;
}

.communityBack {
    position: relative;
    background: url("https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80") #414143;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    background-blend-mode: multiply;
}



.recycle{
    text-align: center;
    

}

.box {
    background: white;
    font-size: 1.9em;
    color: #00b944;
    padding: 15px;
    font-family: 'PT Serif', serif;
}

.color {
    color: white;
    text-transform: uppercase;
}

.userNav_nav {
    position: absolute;
    right: 0;
    margin: 0px 450px 0px 0px;
    background: rgb(255, 254, 254);
    padding: 0px 40px 0px 0px;
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

header {
    width: 100%;
    background: #00b944;
    z-index: 103;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(180, 180, 180, 0.904);
    position: absolute;
    margin: 0px;
}

.mainNav
 {
    width: 1300px;
    margin: 0 auto;
    padding: 0px 40px 0px 40px;
    background: rgba(255, 255, 255, 0);
    
}

.sign{
    margin: 0px 10px 0px 15px;
}

#mainJumbo{
    width: 950px;
    margin: 25% 0px 0px 20%;
    padding: 0px 40px 0px 40px;
    clear: all;
}

.mainCharity {
    width: 950px;
    margin: 25% 0px 0px 20%;
    padding: 0px 40px 0px 40px;
}

.mainLand{
    width: 950px;
    margin: 10% 0px 0px 25%;
    padding: 0px 40px 0px 40px;
    
}

.jumboBack{
    background: #00b944;
}
.container {
    padding-top: 10px;
    color: #00b944;
    font-family: 'PT Serif', serif;
}

#newPost {
    border:  solid 1px forestgreen;
}

#user {
    font-size: 20px;
    font-weight: bold;
}

.spacer {
    width: 100%;
    height: 5.5%;
}

.blckBack {
    background: black;
}
#newsFeedList {
    padding-left: 0;
    display: inline;
}
.container-fluid {
    margin: 15px;
    width: auto;
    
}
#json {
    flex: auto;
}

h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    color: lightseagreen;
    font-style: bold;
    padding-left: 20px;
    padding-bottom: 0;
}


.newsFeedBody {
    background: black;
    width: 100%;
}

#newsArticleTron {
    padding: 15px;
    margin: 3px;
    background: #282828;
    color: lightgray;
    border: solid 3px lightgray;
}

#newsFeedImage {
    clear: right;
    margin-top: 20px;
}
#nfImg {
    float: left;
    height: auto;
    width: 25%;
    margin: 20px;
    align-content: center;
}

#newsFeedAbout {
    float: right;
    padding-top: 0;
    justify-content: initial;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    vertical-align: top;
}

ul li {
    list-style-type: none;
    }

.middle {
    overflow: auto;
    align-content: center;
}

b {
    color: steelblue;
    font-style: italic;
}

#more {
    color: goldenrod;
}



#recyling-news-feed {
    padding: 0;
}

a:active {
    color: brown;
}

.container-fluid {
    margin-left: 8%;
    margin-right: 8%;
}

#desc {
    overflow: auto;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  html, body {
    height: 75%;
    margin: 0;
  }

  .title{
      text-align: center;
      color: white;
      font-family: 'PT Serif', serif;
      font-size: 40px;
     
  }
  
  .content {
    min-height: 100%;
  }

  .contents {
    min-height: 60%;
  }
  .content-inside {
    padding: 20px;
    padding-bottom: 50px;
  }
  .footer {
    height: 100px;
    margin-top: -10px;
    background: #3c3c3c;
    box-shadow: 2px 0px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(180, 180, 180, 0.904);
  }
#welcomeUser {
    color: Blue;
}


  /* .parallax {
      position: ;
      top: 200px;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
} */
.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .parallax__layer--base {
    transform: translateZ(1);
  }
  .parallax__layer--back {
    transform: translateZ(-1px) scale(2);
  }

  @media only screen and (max-width: 980px) {
	.mainNav {
		width: 70%;
	}
}

@media only screen and (max-width: 768px) {
	.main {
		width: 90%;
	}
}