*, ::after, ::before {
    box-sizing: border-box;
}

.indexBack {
    position: relative;
    background: url("https://s.hdnux.com/photos/75/10/13/16024311/4/rawImage.jpg") #414143;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    background-blend-mode: multiply;
}

.communityBack {
    position: relative;
    background: url("https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80") #414143;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    background-blend-mode: multiply;
}



.recycle{
    text-align: center;
    
}

.box {
    background: white;
    font-size: 1.9em;
    color: #00b944;
    padding: 15px;
    font-family: 'PT Serif', serif;
}

.color {
    color: white;
    text-transform: uppercase;
}

.userNav_nav {
    position: absolute;
    right: 0;
    margin: 0px 450px 0px 0px;
    background: rgb(255, 254, 254);
    padding: 0px 40px 0px 0px;
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.userNav_item {
    font-size: 10px;
    font-size: 1rem;
    display: inline-block;
    padding: 5px;
    text-transform: uppercase;
    list-style: none;
    border-left: 1px solid #dadada;
    text-align: center;
}

.mainBack {
    width: 100%;
    background: #00b944;
    z-index: 103;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(180, 180, 180, 0.904);
    position: fixed;
}

.mainNav {
    width: 1300px;
    margin: 0 auto;
    padding: 0px 40px 0px 40px;
    background: rgba(255, 255, 255, 0);
    
}












@media (min-width: 1200px);