*, ::after, ::before {
    box-sizing: border-box;
}

.box {
    background: white;
    font-size: 1.9rem;
    color: #00b944;
    padding: 25px;
}

.color {
    color: white;
}

.userNav_nav {
    position: absolute;
    right: 0;
    margin: 0px 450px 0px 0px;
    background: rgb(255, 254, 254);
    padding: 0px 40px 0px 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.userNav_item {
    font-size: 10px;
    font-size: 1rem;
    display: inline-block;
    padding: 5px;
    text-transform: uppercase;
    list-style: none;
    border-left: 1px solid #dadada;
    text-align: center;
}

.mainBack {
    background: #00b944;
    z-index: 103;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.mainNav {
    width: 1300px;
    margin: 0 auto;
    padding: 0px 40px 0px 40px;
    background: rgba(255, 255, 255, 0);
}












@media (min-width: 1200px);